// Jade file to specify output of an actors list
// Inherits from layout
include ./includes/row_list.jade
include ./includes/header_for_page.jade

extend layoutSimple
block header
  +extend_pageheader(userName)
block content
  
  h1 
    span.label.label-info Matched Restaurant:
  +extend_row_array(business_list)
         