doctype html
html
  head
    title Facebook Login JavaScript Example
    meta(charset='UTF-8')
  body
  	//facebook login
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      function statusChangeCallback(response) {
      console.log('statusChangeCallback');

      if (response.status === 'connected') {
      testAPI();
      } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
      } else {
      
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
      }
      }

      function checkLoginState() {
      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      });
      }
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '764204240353812',
      cookie     : true,  
      xfbml      : true,  
      version    : 'v2.3' 
      });

      //FB.getLoginStatus(function(response) {
      //statusChangeCallback(response);
      //});
      };
      // Load the SDK asynchronously
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
      function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
      console.log(response);
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
      'Thanks for logging in, ' + response.name + '!';
      
      //var form = $('<form action="/login" method="post">' +
      //'<input type="hidden" name="USER_NAME_ID" value="' + "lu" + '" />' +
      //'<input type="hidden" name="PASSWORD" value="' + "lu" + '" />' +
      //'</form>');
      //form.submit();
      
      });
      }
    //
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
    #status
    //end of facebook login
