// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
  .container
    #body
    h1 hello
    .row(data-control='interactive')
      .col-md-6
        | omg
      .col-md-6
        | omg     