include ./includes/header_for_page.jade
include ./includes/row_list.jade

extend layoutSimple
block header
  +extend_pageheader(userName)
  
block content
  h1 You may want to go to:
  +extend_row_array(business_list)
  
  
  