include ./includes/header_for_page.jade

extend layoutSimple
block header
  +extend_pageheader(userName)
  
block content
  h1 You may want to go to:
  // Put a click button that lets us return to the index page h1 #{title}:
  - for (var i = 0; i < business_list.length; i++)
    // Create a table with one row per result
    table.table.table-striped
      tbody
        tr
          - for (var key in business_list[i])
            td #{key}  #{business_list[i][key]}
          td 
            a(href='/business/' + business_list[i]["BUSINESS_ID"]) details
  
  