doctype html
html
  include ./includes/head.jade
  body
    block header
    //h4 Here is outside of container
    .container-fluid
      //h4 Inside container
      .row
        .col-md-4
          block left
        .col-md-8
          block content
      .row
        block bottom
    include ./includes/footer.jade
          