// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layoutSimple
// Then we produce a form that triggers /actor once
// the user hits Submit
block header
  .navbar.navbar-inverse.navbar-static-top(role='navigation')
    .container.fluid
      .navbar-header
        .navbar-brand
          //img(src='/images/logo.jpg', alt='logo')
       form.navbar-form.navbar-right(method="post", action="/login", id="loginForm")
        .form-group
          input.form-control(name="USER_NAME_ID", type = "text", placeholder="User Name")
        .form-group
          input.form-control(name="PASSWORD",type = "Password", placeholder = "Password")
        button.btn.btn-primary(type='submit') Sign in

        a.button.btn.btn-primary(href='/signup') Sign up  
        //facebook login
        p
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script.
          function statusChangeCallback(response) {
          console.log('statusChangeCallback');

          if (response.status === 'connected') {
          testAPI();
          } else if (response.status === 'not_authorized') {
          document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
          } else {
          
          document.getElementById('status').innerHTML = 'Please log ' +
          'into Facebook.';
          }
          }

          function checkLoginState() {
          FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
          });
          }
          window.fbAsyncInit = function() {
          FB.init({
          appId      : '764204240353812',
          cookie     : true,  
          xfbml      : true,  
          version    : 'v2.3' 
          });

          //FB.getLoginStatus(function(response) {
          //statusChangeCallback(response);
          //});
          };
          // Load the SDK asynchronously
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          function testAPI() {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
          console.log(response);
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
          'Thanks for logging in, ' + response.name + '!';
          
          var form = $('<form action="/facebook_login" method="post">' +
          '<input type="hidden" name="USER_NAME_ID" value="' + response.id + '" />' +
          '<input type="hidden" name="PASSWORD" value="' + response.id + '" />' +
          '</form>');
          form.submit();
          
          });
          }
        //
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
        #status
        //end of facebook login        
        
block content
  - if(typeof message !== 'undefined')
    .alert.alert-warning(role='alert')
      p #{message}
      
  .container(style = "width = 500px; height = 350px")     
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          img(src='/images/rsz_hotpot.jpg', alt='hotpot', max-width='500', max-height='250', style = 'width: 70%; margin: auto;')
        .item
          img(src='/images/rsz_sushi.jpg', alt='sushi', max-width='500', max-height='250', style = 'width: 70%; margin: auto;')
        .item
          img(src='/images/rsz_desert.jpg', alt='desert', max-width='500', max-height='250', style = 'width: 70%; margin: auto;')
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
               
        span.sr-only Previous
           
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
               
        span.sr-only Next
