// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
    p
    | Login:
    
    form(method='post', action='/login')
      label() Username: 
      br
      input(name='USER_NAME_ID', value='') 
      br
      label() Password: 
      br
      input(name='PASSWORD', value='') 
      br
      input(type='submit', value='Login')
    p
    | #{message}
    p
    | Please register here:
    form(method='post', action='/register')
      - for (var i = 0; i < schema.length; i++)
        label() #{label[i]}
        input(type='text', name='#{schema[i]}', value='') 
        br
      input(type='submit', value='Register')
      br
      
      
      