// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
    p
    | #{message}
    
    div.top
      form.form-horizontal(method="post", id="loginForm")
        label Username
        input.span3(name="USER_NAME_ID", placeholder="Enter your username")
        label Password
        input.span3(name="PASSWORD")
        input.btn(type="submit", value="Log In")
   
    p
    | Please register here:
    form(method='post', action='/register')
      - for (var i = 0; i < schema.length; i++)
        label() #{label[i]}
        input(type='text', name='#{schema[i]}', value='') 
        br
      input(type='submit', value='Register')
      br
      
      
      