extend layoutSimple
block content
  .alert.alert-success(role='alert')
    #{message}
  h3 Register successfully!
  
  // Put a click button that lets us return to the index page 
  form(method='get', action='/login')
      input(type='submit', value='Return')