// Jade file to specify output of an actors list
// Inherits from layout

include ./includes/row_list.jade
extend layout
block left
  panel.panel-success(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
        a#account Hello, #{title}
    .page-body
      .row
        .col-md-6
          img(src='/images/' + user_name + '.jpg', alt='No Profile Picture!',style = "max-width : 200px;max-height : 200px") 
        
          //img(src='/images/logo.jpg', alt='profile pic')
        .col-md-6 
          +extend_row(current_user)
   
  panel.panel-danger(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
        a#friends Friends
    .page-body
      - if((typeof friends_list !== 'undefined') && (friends_list.length != [[]]))
          form(method='post', action='/invite')
            ul.list-group
              - for (var i = 0; i < friends_list.length; i++)
                li.list-group-item 
                  | #{friends_list[i].LAST_NAME} &nbsp #{friends_list[i].FIRST_NAME} 
                  a(href='/user/' + friends_list[i]["USER_NAME_ID"]) details &nbsp
                  input(type='checkbox', name='friends_list', value=friends_list[i]["USER_NAME_ID"])
            button.btn.btn-info(type='submit') Start a  party!
      +extend_row_array(message)
      
       
  //Similar User
  panel.panel-info(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
        a#acquaintance People you may know
    .page-body
      +extend_row_array(similar_user_list)

  panel.panel-success(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
         | Search Users by First or Last Name!
         br
    .page-body
      form.form-inline(method='get', action='/search_user')
        input(type='text', name='stranger_id') 
        button.btn.btn-info(type='submit',style = "margin-bottom: 10px;")     
          span.glyphicon.glyphicon-search(aria-hidden='true')
          
block content  
  panel.panel-danger(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
        a#search Search a Restaurant
    .page-body
    
      form.form-inline(method='get', action='/business_list')
        .form-group
          input.form-control(name="name", type = "text", placeholder="Restaurant Name")
        .form-group
          input.form-control(name="city",type = "text", placeholder = "City")
        .form-group
          input.form-control(name="state",type = "text", placeholder = "State")
        button.btn.btn-info(type='submit',style = "margin-bottom: 10px;")
         span.glyphicon.glyphicon-search(aria-hidden='true')
  // Put a click button that lets us return to the index page 

  //Favorite Businesses
  .panel.panel-info(style = "margin-bottom: 60px; margin-top: 100px;")
    .panel-heading
      .panel-title 
        a#favourites Favorites
    .page-body
    +extend_row_array(business_list)
