mixin extend_pageheader(username)
  nav.navbar.navbar-inverse.navbar-static-tops(role="navigation")
    .container.fluid
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="navbar-collapse")
         span.sr-only
         span.icon-bar
         span.icon-bar
         span.icon-bar
      div.collapse.navbar-collapse
        ul.nav.nav-pills
          li: a(href='/user/#{username}') HomePage
       