head
  block title   
    title Yelp
  block meta   
    meta(charset='utf-8')  
    meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  link(rel='stylesheet', href='/css/demos.css', type='text/css', media='screen')
  script(src='/css/RGraph.common.core.js')
  script(src='/css/RGraph.common.effects.js')
  script(src='/css/RGraph.hbar.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
