#header
  .navbar.navbar-inverse.navbar-static-top(role='navigation')
    .container.fluid
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="navbar-collapse")
         span.sr-only
         span.icon-bar
         span.icon-bar
         span.icon-bar
      .collapse.navbar-collapse
        ul.nav.nav-pills
          li: a(href='#account') Account
          li: a(href='#friends') Friends
          li: a(href='#acquaintance') Acquanintance
          li: a(href='#favourites') Favourite restaurants
          li: a(href='#search') Search a restaurant
          form.navbar-form.navbar-right(method="get", action='/logout')
            button.btn.btn-info.navbar-btn(type='submit',style = "margin-bottom: 10px;")
              span.glyphicon.glyphicon-log-out(aria-hidden='true')
          form.navbar-form.navbar-right(method="get", action='/user/#{user_name}/edit')
            button.btn.btn-info.navbar-btn.navbar-right(type='submit',style = "margin-bottom: 10px;")
              span.glyphicon.glyphicon-user(aria-hidden='true')
                 
            
       