#header
  h1 Smart Yelp
  nav.navbar.navbar-default(role="navigation")
    .container.fluid
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="navbar-collapse")
         span.sr-only
         span.icon-bar
         span.icon-bar
         span.icon-bar
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(href='/user/#{name}') HomePage
       