mixin extend_row(row)
  - for (var i = 0; i < row.label.length; i++)
    li #{row.label[i]}  #{row.data[i]}

mixin extend_row_array(row_array)
  table.table.table-striped
    thead
      tr
        - for (var i = 0; i < row_array[0].label.length; i++)
          th #{row_array[0].label[i]}
    - for (var i = 0; i < row_array.length; i++)
      - var row = row_array[i]
      tbody
        tr
          - for (var j = 0; j < row.label.length; j++)
            td #{row.data[j]}
          td
            a(href='123') details
                
                