body{

}
.container {
  width: 900px;
  margin: 50px auto;
  overflow: hidden;
}
.left-section {
  float: left;
  width: 300px;
  text-align: left;
}
.main-content {
  float: left;
  width: 300px;
  text-align: center;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 300px;
  text-align: center;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Georgia';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget h2 {
  color: #f00;
  font-size: 5px;
  font-family: 'Helvetica,Arial,sans-serif';
  padding: 0px 10px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  font-family: 'Helvetica,Arial,sans-serif';
  padding: 0px 10px;
  margin-bottom: 10px;
}